<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GEMINI_API_KEY</key>
    <string>AIzaSyBu8n8Wj8XX_aLQE8joB0itIy5wpeFpaKk</string>
    <key>GOOGLE_AI_API_KEY</key>
    <string>AIzaSyBu8n8Wj8XX_aLQE8joB0itIy5wpeFpaKk</string>
    <key>PLACES_API_KEY</key>
    <string>AIzaSyDH-as4beq_qLkY2_8_DiscXeKQkGuJPEE</string>
    <key>STREET_VIEW_API_KEY</key>
    <string>AIzaSyDH-as4beq_qLkY2_8_DiscXeKQkGuJPEE</string>
    <key>STRIPE_PUBLISHABLE_KEY</key>
    <string>pk_live_51ODuefLAUkK46LtZdPqhLtVUHjvXIPNMpToYpURZeMCwgPmQRWsTiLinptw8KsI6b02ty5OEEZW9fzZN6xsVnJE300vXfbyUWg</string>
    <key>STRIPE_ACCOUNT_ID</key>
    <string>acct_1OE1ptPrtLGHqzOG</string>
</dict>
</plist>


